@import url("media.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.split-left {
    width: 40%;
    flex: 1;
    background-image: url("hey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.split-right{
    display: flex;
    width: 60%;
}

.split-right > .form-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/*dropdown language*/
#language {
   font-size: 1rem;
    border: none;
    color: #C0C1C5;
}

.dropdown {
    position: absolute;
    right: 3rem;
    top: 2rem;
}

/*Sign up to Asgard*/

.sign-asgard {
    font-size: 2.8rem;
    font-weight: lighter;
}

/*already have an account?*/
.log-in {
    font-size: 1.3rem;
    font-weight: lighter;
    color: #BBBDBF;
    margin: 0.6rem 0 1.7rem 0;
}

.log-in > a {
    text-decoration: none;
    color: #7FADF7;
}


/*google sign up*/
.google-signup {
    display: flex;
    flex-direction: row;
}

.google-svg {
    margin-left: 1rem;
}
.google-button { 
    width: 23.5rem;
    height: 3rem;
    border-style: solid;
    border-color: #D5D6D8;
    background-color: white;
    border-radius: 5px;
    display:flex;
    align-items: center;
}

button > a {
    text-decoration: none;
    color: black;
    margin: 0 auto;
}

/*facebook and apple*/
.box-icon {
    height: 3rem;
    width: 3rem;
    background-color: #D5D6D8;
    border-radius: 5px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
} 

/*- OR -*/
.or {
    color: #999A9E;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

/*form*/

.form-container {
    border-style: solid;
    width: 64%;
    height: 70%;
    margin-top: 2rem;
}

#form > label,div,button {
    display: grid;
    grid-template-columns: auto;
    grid-column: auto;
}

#form > label {
    color: #999A9E;
}

.input-fields {
    width: 30.3rem;
    height: 3rem;
    font-size: 1.3rem;
    border-style: none;
    border-bottom-style: solid;
    border-color: #999A9E;
    margin-bottom: 1rem;
}

/*password and svg*/
input[type=password] {
    font-size: 1rem;
}
 .password {
     display: flex;
     flex-direction: row;
     position: relative;
 }

 .eye-svg {
     position: absolute;
 }

 /*margin for password and terms and servives checkbox*/

.password, .checkbox{
    margin-bottom: 1rem;
}

/*password strength*/
.password-lines {
    display: flex;
    flex-direction: row;
    margin-top: 0.7rem;
}

.line {
    width: 7rem;
    height: 0.3rem;
    background-color: green;
    margin-right: 0.4rem;
    border-radius: 5px;
}

.line-4 {
    width: 7rem;
    height: 0.3rem;
    background-color: #999A9E;
    border-radius: 5px;
}

/*checkbox*/
.checkbox {
    font-weight: lighter;
}

.checkbox > a {
    text-decoration: none;
}
/*button form*/
.button {
    width: 30.3rem;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    border-style: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}