
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
}

@keyframes colors {
    0% {
	    background-position: 0% 100%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

body {
    width: 100%;
    height: 100vh;
    
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.split-left {
    width: 100%;
    height: 100vh;
    flex: 1;
    background-image: url("hey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Asgard*/
header > h2 {
    margin: 2rem 0 0 2rem;
}
/*a cloud based community..*/
header > p {
    margin: 1rem 0 0 2rem;
    width: 18rem;
    color: #999A9E;
    font-weight: bold;
}

/*form right */
.split-right{
    display: flex;
    width: 60%;
    height: 100vh;
}

.split-right > .form-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/*dropdown language*/
.language {
   font-size: 1rem;
    border: none;
    color: #C0C1C5;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    right: 3rem;
    top: 2rem; 
}

/*Sign up to Asgard*/

.sign-asgard {
    font-size: 2.8rem;
    font-weight: bold;
}

/*Asgard*/
.asgard-container {
    display:flex;
    flex-direction: row;
}

.asgard-animation {
    margin-left: 1rem;
    font-size: 2.8rem;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to right, black, #FF8235, #30E8BF, #69cc69, #30E8BF, #FF8235, black);
    -webkit-background-clip: text;
    -webkit-background-size: 2500%;
    background-size: 2500%;
    animation: colors 20s linear infinite;
}

/*already have an account?*/
.log-in {
    font-size: 1.3rem;
    font-weight: lighter;
    color: #999A9E;
    margin: 0.6rem 0 3rem 0;
}

.log-in > a {
    text-decoration: none;
    color: #7FADF7;
}

/*google sign up*/
.google-signup {
    display: flex;
    flex-direction: row;
}

.google-svg {
    margin-left: 1rem;
}
.google-button { 
    width: 23.5rem;
    height: 3rem;
    border-style: solid;
    border-color: #D5D6D8;
    background-color: white;
    border-radius: 5px;
    display:flex;
    align-items: center;
    cursor: pointer;
}

button > a {
    text-decoration: none;
    color: black;
    margin: 0 auto;
}

/*facebook and apple*/
.box-icon {
    height: 3rem;
    width: 3rem;
    background-color: #D6D7D9;
    border-radius: 5px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 

/*- OR -*/
.or {
    color: #999A9E;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

/*form*/

.form-container {
    border-style: hidden;
    width: 30.3rem;
    height: 41.5rem;
    margin-top: 2rem;
}

#form > label,div,button {
    display: grid;
    grid-template-columns: auto;
    grid-column: auto;
}

#form > label {
    color: #999A9E;
    font-weight: bold;
}

.input-fields {
    width: 30.2rem;
    height: 2.5rem;
    font-size: 1.3rem;
    border-style: none;
    border-bottom-style: solid;
    border-color: #CCCDCF;
    border-width: 2px;
    margin-bottom: 1rem;
    outline: none;
}

/*password and svg*/
.password-input {
    width: 30.2rem;
    height: 2.5rem;
    border-style: none;
    border-bottom-style: solid;
    border-color: #CCCDCF;
    border-width: 2px;
    font-size: 2rem;
    outline: none;
}

 .password-container {
     display: flex;
     flex-direction: row-reverse;
     position: relative;
     color: gray;
 }

 .eye {
     position: absolute;
     margin: 0.5rem 1rem 0 0;
     fill: gray;
     cursor: pointer;
 }

/*password strength*/
.password-strength {
    margin-top: 1rem;
}
.password-lines {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.line {
    width: 7rem;
    height: 0.3rem;
    background-color: #69CC99;
    margin-right: 0.4rem;
    border-radius: 5px;
}

.line-4 {
    width: 7rem;
    height: 0.3rem;
    background-color: #CCCDCF;
    border-radius: 5px;
}

/*checkbox*/

.checkbox-info {
    color: #999A9E;
    font-weight: bold;
    margin-top: 2rem;
}

.checkbox-info > a{
    text-decoration: none;
    color: #7FADF7;
    font-weight: bold;
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}

/*button form*/
.button {
    width: 30.3rem;
    height: 3rem;
    margin-top: 3rem;
    border-radius: 5px;
    color: white;
    border-style: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    background: #FF8235;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8235, #30E8BF, #69CC99);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF8235, #30E8BF, #69CC99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 1000%;
    background-position: left;
    transition: 1s;
}

.button:hover {
    background-position: right;
}