/*phone*/
@media all and (max-width: 376px) {
/*wrapper for flex*/
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%
    }
/*top picture*/
    .split-left {
        flex: 1;
        background-size: 100vw;
        min-height: 25%;
    }

    /*Asgard*/
    header > h2 {
        margin: 0.5rem 0 0 0.5rem;
        font-size: 1rem;
    }
    
    /*a cloud based community..*/ 
    header > p {
        display: none;
    }

    .split-right {
        display: flex;
        height: 80%;
        width: 100%;
       margin-top: 0.5rem;
    }

    /*dropdown*/
    .dropdown {
        display: none;
    }

    /*form*/
    .form-container {
        margin-top: 0;
        width: 20rem;
    }

    /*Sign up to*/
    .sign-asgard {
        font-size: 1.5rem;
    }

    .asgard-animation {
        font-size: 1.5rem;
    }

    /*already have an account?*/
    .log-in {
        font-size: 0.9rem;
        margin: 0.6rem 0 2rem 0;
    }

    /*google sign up*/
    .google-button {
        width: 12rem;
    }

    .input-fields {
        width: 20rem;
    }

    .password-input {
        width: 20rem;
    }

    .eye {
        margin: 0.5rem 0 0.5rem 0 0;
    }

    .line {
        width: 4.5rem;
    }

    .line-4 {
        width: 4.5rem;
    }

    .checkbox-info {
        font-size: 0.9rem;
    }

    .button {
        width: 20rem;
        margin-top: 2rem;
    }
}